.card-wrapper-outter:not(:first-child) {
  margin-top: 20px;
}

.card-wrapper {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-color: white;
}

.card-inline {
  display: flex;
  justify-content: flex-start;
}

.card-inline.top-most {
  margin-bottom: 10px;
}

.card-question-propmt { 
  width: 100%;
}

.card-question {
  margin-right: 40px;
  font-weight: 400;
}

.actual-question {
  font-weight: 600;
}

.card-text-align {
  text-align: start;
}

.first-half {
  width: 200px;
  display: flex;
}

